<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Kaushan+Script|Oswald|Sarabun:400,600,700|Shrikhand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">  
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pizzas Programa</title>



    <title>Node + SQL</title>
</head>
<body>
  <!--  <nav id="navbar">
        <ul>
            <li><a href="/">Usuário</a></li>
            <li><a href="/users/create">Cadastrar</a></li>
        </ul>
    </nav>
   */ -->


   
    <nav class="navbar navbar-expand-md fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target">
        <img src="/img/images/menu-icon.png" alt="menu icon">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand logo"href="/index"><img src="/img/images/logo.png" alt="logo of pizza house" width="70%" ></a>
      <span class="navbar-brand navbar-text"> <a href="/index"></a> Pizzas Programa.</span>
      <div class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="/servicos">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/estudantes">Adicionar Sabor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contato">Contato</a>
          </li>
          <li id="reserve-button">
            <button onclick="submit()" id="reserve" class="btn reserve-btn">Reserve sua mesa</button>
          </li>
        </ul>
      </div>
    </nav>

{{{body}}}
{{{footer}}}

</body> 




<footer>             
        <div class="container-fluid footer">
            <div class="row footerItems">
                <div class="container links">
                  <a href="https://www.twitter.com/"><img src="/img/images/tw.png" alt="an image of twitter logo"></a>
                  <a href="https://www.facebook.com"><img src="/img/images/fb2.png" alt="an image of facebook logo"></a>
                  <a href="https://www.youtube.com/"><img src="/img/images/ytube.png" alt="an image of youtube logo"></a>
                  <a href="https://www.tumblr.com/"> <img src="/img/images/tumblr.png" alt="image of tumblr icon" hspace="7"></a>
                  <a href="https://www.pinterest.com/"><img src="/img/images/pin.png" alt="an image of pinterest logo"></a>
                </div>
            </div>
                <div class="container branches">
                  <h5>PRODUZIDO POR:</h5>
                  <h5>Julio Henrique Magalhães Baptista</h5>
                  <p>e</p>
                  <h5>Leonardo Xavier Garcia</h5>
                  <p>Atendemos todos os dia das 20 as 02 horas</p>
                  <h5>Reserve sua mesa já e Não perca as melhores Pizzas o Brasil</h5>
                </div>
          <div class="footer-text">
            <p>INSTAGRAM:</p>
            <p>@PIZZASPROGRAMA</p>
          </div>
        </div>
</footer>
</html>






















</html>