 <link rel="stylesheet" href="/css/css/css/style.css">


<h1>cadastre a Pizza:</h1>

<form action="/estudantes/insertestudantes" method="POST" class="form1">
<div class="form-control1">
    <label for="title">nome da Pizza</label>
    <input type="text" name="name" id="name" placeholder="digite o nome da Pizza">
</div>
<div class="form-control1111">
    <label for="serie"> Preço da Pizza</label>
    <input type="text" name="serie" id="serie" placeholder="digite Sabor da Pizza">
</div>
<input type="submit" value="cadastrar" ><br>

<a href="/estudantes">TODOS OS PREÇOS</a>
</form>