<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
    <link rel="stylesheet" href="/css/quemsomos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>    
        <div class="page-heading products-heading header-text">
              <div class="row">
                <div class="col-md-12">
                  <div class="text-content">
                      <h2>Sobre nós</h2>
                  </div>
                </div>
              </div>
            </div>            
          </div>
<div>    
<h1 class="topo"><hr>Quem somos<hr></h1>
<div class="texto">
<p>
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ad accusamus, esse autem beatae voluptatem reprehenderit harum 
 at aut aperiam, sequi doloribus, ipsum similique expedita optio vero fugiat hic maxime..
 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa delectus asperiores saepe perferendis, eligendi molestiae! 
 Quisquam cum reiciendis rerum deserunt sed fugiat. Ut aspernatur reprehenderit, commodi architecto laborum est laboriosam.
 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur consequatur sapiente, quae explicabo nobis, quisquam, 
 totam numquam accusamus enim distinctio aperiam! At molestias alias facilis nulla rem voluptates commodi ipsum!
 <br><br>    
             <!--inicio-->
                 <div class="parte1">
                   <h4> Redes Sociais </h4>
                
                     <div class="redes-socias">
                        <a href="#"> <i class="fa fa-facebook"></i> </a>
                        <a href="#"> <i class="fa fa-instagram"></i> </a>
                        <a href="#"> <i class="fa fa-twitter"></i> </a>
                        <a href="#"> <i class="fa fa-linkedin"></i> </a>


                     </div>
                 </div>
             <!--final-->

         </div> 

     </div>


 </footer>
</body>
</html>
<a href="/estudantes">estudantes</a>
<a href="/servicos">serviços</a>
<a href="/quemsomos">quem somos</a>
<a href="/contato">contato</a>